apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "flask-rollout-demo.fullname" . }}
  labels:
    {{- include "flask-rollout-demo.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "flask-rollout-demo.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "flask-rollout-demo.selectorLabels" . | nindent 8 }}
        version: {{ .Values.image.tag | quote }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - name: http
          containerPort: {{ .Values.service.targetPort }}
          protocol: TCP
        env:
        - name: APP_NAME
          value: {{ .Values.env.APP_NAME | quote }}
        - name: STAGE_ENVIRONMENT
          value: {{ .Values.env.STAGE_ENVIRONMENT | quote }}
        - name: IMAGE_VERSION
          value: {{ .Values.env.IMAGE_VERSION | quote }}
        - name: REDIS_HOST
          value: {{ .Values.env.REDIS_HOST | quote }}
        - name: REDIS_PORT
          value: {{ .Values.env.REDIS_PORT | quote }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
